* {
    text-decoration: none;
}

.page {
    background-color: black;
    width: 100%;
    box-sizing: border-box;

    &__form {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: antiquewhite;
    }

    &__reset {
        color: rgb(243, 247, 247);
        background-color: rgb(206, 161, 28);
        border-radius: 5px;
    }

    &__main {


        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;


        background-color: black;
        color: antiquewhite;

        @media all and (min-width: 768px) {
            padding: 60px;
            min-height: calc(100vh - 578px);
        }

        @media all and (min-width: 1200px) {
            min-height: calc(100vh - 621px);
        }

    }


}