.container {
    padding: 10px 0 10px 0;
    background-color: rgb(213, 173, 78);
    padding: 0;
    border-radius: 15px;


    @media all and (min-width: 768px) {
        max-width: 900px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

}